//colors variables
$color-primary-900: #7400B8;
$color-primary-800: #6930C3;
$color-primary-700: #5E60CE;
$color-primary-600: #5390D9;
$color-primary-500: #4EA8DE;
$color-primary-400: #48BFE3;
$color-primary-300: #56CFE1;
$color-primary-200: #64DFDF;
$color-primary-100: #72EFDD;
$color-primary-000: #80FFDB;

$color-text-dark: #10052e;
$color-text-bright: #e3faf4;

h1 {
  color: $color-primary-200;
}
